


.hr-divider-test {
    background: url(../img/slide-bg-test.png) no-repeat bottom center;
    width: 1170px;
    height: 100px;
    margin-bottom: 50px;
    display: block;
    clear: both;
}

.hr-divider-test2 {
    background: url(../img/slide-bg-test2.png) no-repeat bottom center;
    width: 1170px;
    height: 100px;
    margin-bottom: 50px;
    display: block;
    clear: both;
}

.center-buttons2 {
    
    background: #a11e21;
    
}

/*.top_cont_inner2{
    background:url(../img/white_pad1.png) no-repeat left bottom;
    */}

.color-code-machine {
    color: #141414;
}

.margin-machine {
    margin bottom:1px;
}

#binary .row .col-md-12 h4 {
    margin-top: 40px;
}

#service {
    background-color: #f7f6f6;
}

#margin-machine-sigup {
        margin-left: 279px;
        margin-top: 127px;
}

#binary2 {
    margin-bottom: 64px;
}

#background-color-call {
    background-color:  #587d38;
}

#background-color-put {
    background-color:  #a11e21;
}
 