
<div class="container">

    <div class="row">
            
        <!-- <div class="col-md-8">
            <h1><%= translate("ioFunBanner") %></h1>

            <div class="landing-text">
                <h4>
                    <%= translate("ioFunLandingText") %>
                </h4>

                <p class="landing-actions">
                    <a href="#login" class="btn btn-large"><%= translate("getStarted") %></a>
                    <a href="#enterprise" class="btn btn-large"><%= translate("needEnterpriseResources") %>?</a>
                </p>
            </div>
                      
        </div> -->

        <!--Top_content-->
        <section id="top_content">
          
            <div class="container top_cont_inner"> 
              <div class="top_content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="top_left_cont flipInY wow animated">
                          
                          <h2>Today’s best binary options trading platform</h2>

                          <p> Binary Machine is the leading binary options platform in the world, developed not only to be as simple and user friendly as possible, 
            but to also generate significant returns</p>
                          <a href="#service" class="learn_more2">Learn more</a> 
                        </div>
                    </div>

                    <div class="col-md-4" style="margin-left: 279px; margin-top: 127px;">    
                        <form id="langing-signup-form" class="form-signup" novalidate="novalidate">
            
                            <div class="form-group">
                                <input type="text" id="landing_username" name="landing_username" class="form-control" placeholder="<%= translate("yourUsername") %>" autofocus="">
                            </div>

                            <div class="form-group">
                                <input type="text" id="landing_email" name="landing_email" class="form-control" placeholder="<%= translate("yourEmail") %>">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" id="landing_password" name="landing_password" placeholder="<%= translate("createApassword") %>"/>
                                <p class="text-muted"><%= translate("passwordStuffs") %><p>
                            </div>
                            <!-- primary btn class -->
                            <button id="landing-signup-btn" class="btn btn-lg btn-block" type="submit"><%= translate("signUp") %></button>
                            <!--
                            <p class="text-muted"><%= translate("clickYouAgree") %> <a href="#terms"><%= translate("termsOfService") %></a> <%= translate("and") %> <a href="#privacy"><%= translate("privacyPolicy") %></a>. <%= translate("willSendRelatedEmails") %>.</p> -->
                        </form>
                    </div>

              </div>

            </div>
          
        </section>
        <!--Top_content-->
        
    </div>

</div>



<!--Chart-->
<section id="service" style="background: #f5f4f4;">
    <section class="main-section" id="client_outer"><!--main-section client-part-start-->
      <!-- <h2>Happy Clients</h2> -->
      <div class="client_area ">
      <br>  
        

     <section class="content">
                    
                    <br>
                    <div class="row">
                        <div class="col-xs-2 dropdows-part">
                            <form>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" name="exampleInputEmail1">Asset</label>
                                            <select class="form-control">
                                                <option value="0">AUD/CHF</option>}
                                                <option value="1">AUD/JPY</option>
                                                <option value="2">AUD/NZD</option>
                                                <option value="3">AUD/USD</option>
                                                <option value="4">CAD/JPY</option>
                                                <option value="5">EUR/AUD</option>
                                                <option value="6">EUR/CAD</option>
                                                <option value="7">EUR/GBP</option>
                                                <option value="8">EUR/JPY</option>
                                                <option value="9">EUR/USD</option>
                                                <option value="10">EUR/INR</option>
                                                <option value="11">EUR/CNY</option>
                                                <option value="12">EUR/ZAR</option>
                                                <option value="13">EUR/MXN</option>
                                                <option value="14">EUR/AED</option>
                                                <option value="15">EUR/RUB</option>
                                                <option value="16">GBP/CHF</option>
                                                <option value="17">NZD/USD</option>
                                                <option value="18">USD/CAD</option>
                                                <option value="19">USD/CHF</option>
                                                <option value="20">USD/JPY</option>
                                                <option value="21">USD/INR</option>
                                                <option value="22">USD/CNY</option>
                                                <option value="23">USD/ZAR</option>
                                                <option value="24">USD/MXN</option>
                                                <option value="25">USD/AED</option>
                                                <option value="26">USD/RUB</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Expiry</label>
                                            <select class="form-control" name="exampleInputEmail2">
                                                <option value="0">5</option>}
                                                <option value="1">10</option>
                                                <option value="2">15</option>
                                                <option value="3">20</option>
                                                <option value="4">30</option>
                                                <option value="5">1:00</option>
                                                <option value="6">2:00</option>
                                                <option value="7">2:30</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Amount</label>
                                            <input class="form-control" type="text"></input>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-6">

                            <div class="row text-center top-buttons-row">
                                <button type="button" class="btn btn">30m</button>
                                <button type="button" class="btn btn">1h</button>
                                <button type="button" class="btn btn">2h</button>
                                <button type="button" class="btn btn">4h</button>
                                <button type="button" class="btn btn">6h</button>
                                <button type="button" class="btn btn">12h</button>
                            </div>
                            <!-- interactive chart -->
                            <div class="box box-primary" style="border-bottom: 3px solid #848180;" >
                                <div class="box-body">
                                    <div id="interactive" style="height: 200px;"></div>
                                </div><!-- /.box-body-->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="col-xs-12 center-buttons-div">
                                    <button type="button" class="center-buttons" style="background: #587d38;">CALL</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 center-buttons-div">
                                    <button type="button" disabled="disabled" class="center-buttons center-button-disabled">95.975</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 center-buttons-div">
                                    <button type="button" class="center-buttons" style="background: #a11e21;">PUT</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2 info-col">
                            <div class="row right-info">
                                <div class="col-xs-12">
                                    <h4>Potential Payout</h4>
                                    <p>$45.00</p>
                                </div>
                            </div>
                            <div class="row right-info">
                                <div class="col-xs-12">
                                    <h1>67%</h1>
                                </div>
                            </div>
                            <div class="row right-info">
                                <div class="col-xs-12">
                                    <h4>Protected Amount</h4>
                                    <p>$0.00</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.row -->
            </section><!-- /.content -->    
        </div>
    </section>
</section>

<!--End Chart-->


<section id="work_outer"><!--main-section-start-->


    <!--Top_content-->
    <section id="top_content">

      
        <div class="container">
          <div class="top_content" style="margin-bottom: 52px;">
            <div class="row">
              <div class="col-lg-5 col-sm-7 pull-right">
                <div style="text-align:left">
                  <h2 class="featurette-heading" style="<h2 style=&quot; margin-top: 36px; &quot;>Contact Us</h2>;padding-right: 40px;">How To Trade <span class="text-muted">Binary Options</span></h2>
                   <p class="lead">Choose CALL if you think the price will rise above the current rate at the expiry time, or PUT if you believe the price will fall at the expiry time.</p>
                    <ol>
                    <li>Select the asset you would like to trade.</li>
                    <li>Choose your desired expiry time.</li>
                    <li>Enter the amount you would like to invest.</li>
                    </ol>
                   <p class="lead">Payout Percentage indicates the return on your investment for options that expire.</p>
                   </div>
              </div>
          </div>

        </div>
      </div>
    </section>



    <!--
    <section id="features">
            <div class="container">
                <div class="row">
                    <div class="single-features">
                        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="images/home/image1.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h2>Experienced and Enthusiastic</h2>
                            <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip steak.</P>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h2>Built for the Responsive Web</h2>
                            <P>Mollit eiusmod id chuck turducken laboris meatloaf pork loin tenderloin swine. Pancetta excepteur fugiat strip steak tri-tip. Swine salami eiusmod sint, ex id venison non. Fugiat ea jowl cillum meatloaf.</P>
                        </div>
                        <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="images/home/image2.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="images/home/image3.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h2>Experienced and Enthusiastic</h2>
                            <P>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        
    <!--Top_content--> 
    <!--
    <div class="container">
        <div class="service_area">
          <div class="row">
              <div class="col-md-6">
              <img src="./static/img/white_pad.png" class="" alt="Cinque Terre" width="500" height="500">   
              </div>
              <div class="col-md-6">
              <h2 class="featurette-heading">How To Trade <span class="text-muted">Binary Options.</span></h2>
              <p class="lead">Choose CALL if you think the price will rise above the current rate at the expiry time, or PUT if you believe the price will fall at the expiry time.</p>
              <ul>
                <ol>
                <li>Select the asset you would like to trade.</li>
                <li>Choose your desired expiry time.</li>
                <li>Enter the amount you would like to invest.</li>
                <ol>
              </ul>
              <p class="lead">Payout Percentage indicates the return on your investment for options that expire.</p>
            </div>
        </div>
      </div>
    -->
    <!--
    <div class="container">
            <div class="container">
            <div class="col-md-6 headlines">
              <h2><span class="color-bg">FEATURES</span></h2>
              
              <ul class="support-ul">
                <li><i class="fa fa-life-saver"></i> Automatic and Predictive Dialers</li>
                <li><i class="fa fa-life-saver"></i> Prerecorded Message Campaigns</li>
                <li><i class="fa fa-life-saver"></i> Monitor and Record all your Calls</li>
                <li><i class="fa fa-life-saver"></i> Bring your exported contact list</li>
                <li><i class="fa fa-life-saver"></i> Local, Global and Toll free numbers available at a low rate</li>
                <li><i class="fa fa-life-saver"></i> Schedule to run at the best time for your clients</li>
              </ul>
              
            </div>
            
            <div class="col-md-6">
              <img src="./static/img/white_pad.png" alt="" />
            </div>
          </div>
        </div>

        -->
    </section>


      