<!--Header_section-->
<header id="header_outer">
  <div class="container">
    <div class="header_section">
      <div class="logo"><a href="javascript:void(0)"><img src="./static/img/logob.png" alt=""></a></div>
      <nav class="nav" id="nav">
        <ul class="toggle">
          <li><a href="#top_content">About</a></li>
          <li><a href="#service">Accounts</a></li>
          <li><a href="#work_outer">Budget</a></li>
          <li><a href="#Portfolio">Options</a></li>
          <li><a href="#client_outer">Education</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#login">Login</a></li>
        </ul>
        <ul class="">
          <li><a href="#top_content">About</a></li>
          <li><a href="#service">Accounts</a></li>
          <li><a href="#work_outer">Budget</a></li>
          <li><a href="#Portfolio">Options</a></li>
          <li><a href="#client_outer">Education</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#login">Login</a></li>
        </ul>
      </nav>
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a> </div>
  </div>
</header>
<!--Header_section--> 


<!-- <div class="navbar navbar-static-top">

    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only"><%= translate("ioFunNavigation") %></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand-n-stuff" class="navbar-brand" href="#home">
                <%= translate("iofun") %>
            </a>
        </div>

        

    </div>

</div>
 -->